.custom-banner__header {
    display: flex;
    margin-bottom: 12px;
}

.custom-banner__avatar {
    margin-right: 16px;
    flex: 0 0 auto;
}

.custom-banner__content {
    width: 100%;
}

.custom-banner__content-title {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.custom-banner.Banner {
    margin: 20px 0;
    padding: 0;
}
.custom-banner .Banner__expand {
    display: none;
}
.custom-banner .Banner__actions {
    padding-bottom: 8px;
}

.custom-banner_translate.Banner {
    margin: 12px 0;
    padding: 0;
}

.custom-banner_song .Banner__in:before {
  border-color: var(--my-accent);
}

.custom-banner.complete .Banner__in:before {
    border-color: var(--field_valid_border);
}

.custom-banner.complete .Progress__in {
    background: var(--field_valid_border);
}